<h1>Todo app</h1>

<p>Welcome to the Todo list app</p>

<ol>
<% TODO.each do |k| %>
	
	<li><%= k[:todo] %></li>
	
<% end %>

</ol>
<a href='/new_item'>create a new item</a></p>
<a href='/edit_item'>edit an item</a></p>
<a href='/complete_item'>mark as complete</a></p>

if @done == 'on'
	